{% extends "base.html" %}

{% block header_addition %}
        {% if codeFormatted %}
        <link rel="stylesheet" type="text/css" href="/highlight.css" />
        {% endif %}
{% endblock %}

{% block body %}
        <div id="doc">
            <h1>Hello {{ user_short }}</h1>
            {% include "instructions.html" %}
            <div id="columns">
                <div id="columnr">
                    {% include "paste_list.html" %}
                </div>
                <div id="columnl">
                    {% if isPaste %}
                        {%include "code_display.html" %}
                    {% endif %}
                    <form method="post" action="/" class="paste">
                        <h2>Submit Code</h2>
                        {% if issues %}
                            <div class="issues">
                            {% for issue in issues %}
                                <p class="issue">{{ issue }}</p>
                            {% endfor %}
                            <div>
                        {% endif %}
                        <div>
                            <label for="code">Code:</label><br/>
                            <textarea id="code" name="code" rows="10" cols="30">{{ codeRaw }}</textarea>
                        </div>
                        <div>
                            <label for="type">Type:</label><br/>
                            <select name="type" id="type">
                                {% for current_type in types %}
                               
                                <option value="{{ current_type.1 }}" 
                                {% ifequal type current_type.1 %} selected="selected" {% endifequal %}
                                >{{ current_type.0 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <h2>Optional Information</h2>
                        <div>
                            <label for="title">Title:</label>
                            <input class="paste_form_ui" type="text" name="title" value="{{ title }}" id="title"/>
                        </div>
                        <div>
                            <label id="comment">Comment:</label><br/>
                            <textarea name="comment" id="comment" rows="3" cols="30">{{ comment }}</textarea>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Paste" name="Paste" />
                        </div>
                    </form>
                </div> <!-- end column left -->
            </div> <!-- end columns -->
        </div> <!-- end doc -->
{% endblock %}
