<div class="paste_list_user_con">
    <h3>Recent pastes for {{ user }} <em>({{ user_paste_count }} total).</em></h3>
    <div class="paste_list_user">
        {% if user_pastes %}
        {% for paste in user_pastes %}
        <p><a href="{{ application_url}}/p/{{paste.uid }}" >{{ paste.date|date:"D d M Y"}}</a></p>
            <p>{{ paste.type }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <p class="feed_url">
        <a href="{{ application_url}}/f/{{ user }}" >Atom Feed</a>
    </p>
</div>
