<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Paste!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1>Hello {{ user }}</h1>
        {% if isPaste %}
        <p>The url to this page is: <a href="{{ url }}">{{ url }}</a>.</p>
        <div class="pastedCon">
            <h2>{{ title }}</h2>
            <p class="comment">
            {{ comment }}
            </p>
            <table>
            {% for line in codeList %}
                <tr>
                    <td>{{ forloop.counter }}.</td> 
                    <td><pre>{{ line }}</pre></td>
                <tr>
            {% endfor %}
            </table>
        </div>
        {% endif %}
        <h2>Submit Code</h2>
        <form method="post" action="/">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" value="{{ title}}" id="title"/>
            </div>
            <div>
                <label id="comment">Comment:</label><br/>
                <textarea name="comment" id="comment" rows="5" cols="30">{{ comment }}</textarea>
            </div>
            <div>
                <label id="code">Code:</label><br/>
                <textarea name="code" rows="10" cols="30">{{ codeRaw }}</textarea>
            </div>
            <div>
                <input type="submit" value="Paste" name="Paste" />
            </div>
        </form>
    </body>
</html>
