@import "/css/reset.css";
/*
black: #1C1D21 
dark grey: #31353D
blue: #445878
white: #EEEFF7;
teal-white: #BFD2D9
teal: #92CDCF
*/

body {
    font-size: 90%;
    background: #1C1D21;
    color: #EEEFF7;
    font-family: "Verdana", Arial, "Helvetica", sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    padding: 3px;
}
h1 {
    font-size: 120%;
    background: #31353D;
    border: 0px solid #92CDCF;
    border-bottom-width: 1px;
}
h2 {
    font-size: 105%;
}
a {
    color: #92CDCF;
}

textarea, input.paste_form_ui, select {
    background-color: #EEEFF7;
    border: 1px solid #445878;
    font-family: Courier, serif;
    font-size: 90%;
}
textarea:focus, input.paste_form_ui:focus, select:focus{
    background-color: #BFD2D9;
}
input.button {
    margin: 5px 5px 5px 0px;
}

div.header {
    background: transparent url(/images/header_bg.png) repeat-x bottom left;
    height: 40px;
    margin 5px 0px 5px 0px;
    border: 0px solid #1C1D21;
    border-bottom-width: 2px;
    padding: 5px;
}
div.logo {
    background: transparent url(/images/paste_logo_header.png) no-repeat top left;
    float: left;
    width: 300px;
    height: 35px;
}

div#columns {
    position: relative;
}
div#columnl {
    margin-right: 150px;
}
div#columnr {
    float: right;
    width: 135px;
    margin-right: 5px;
    padding: 3px;
    overflow: hidden;
}

form.paste textarea {
    width: 90%;
}

form.paste {
    margin: 5px;
    padding: 5px;
    background: #31353D;
    border: 1px solid #cecece;
}

p.login_information {
	text-align: right;
	color: #EEEFF7;
	font-size: 90%;	
}

div.pasted_con {
    padding: 5px;
    margin: 5px;
    font-size: 110%;
    line-height: 130%;
}
div.formattedCode {
    width: 90%;
    overflow: hidden;
    overflow-x: auto;
}
div.pasted_con table {
    padding: 5px;
    margin: 5px;
    border: 1px solid #cecece;
    line-height: 100%;
    font-size: 90%;
    font-family: Courier, serif;
    background: #1C1D21;
    width: 99%;
}
td.code {
    padding-left: 5px;
    background-color: #EEEFF7;
}
div.pasted_con table .highlight {
    background-color: #EEEFF7;
    color: #1C1D21;
}
div.pasted_con table td.linenos{
    width: 40px;
    text-align: right;
    background-color: #31353D;
    border: 0px solid #e0e0e0;
    border-width-right: 1px;
}
div.instructions {
    margin: 10px;
    padding: 5px;
    border: 1px solid #445878;
    position: relative;
}

div.langstats {
    margin: 10px;
    padding: 5px;
    border: 1px solid #445878;
	color: black;
	background-color: #EEEFF7;
    position: relative;
}
/****** Paste list styles ******/
.paste_list_user_con {
    font-size: 90%;
    border: 1px solid #445878;
    padding: 3px;
    text-align: center;
}
.paste_list_user_con em {
    font-size: 90%;
    font-weight: normal;
    font-style: italic;
}
.paste_list_user_con p.feed_url {
    margin-top: 20px;
}
.paste_list_user_con p.feed_url a {
    font-weight: bold;
}
